/*

http://blog.iguazoft.com/maquetar-con-divs-como-si-fuese-una-tabla/

*/

/*
@media screen and (max-width: 480px){
    #div_centro{
        width: 100%;
    }
}
*/


/*
class de mastodon
*/
.mention{
    
}

.hashtag{
    color: #2b90d9;
}

.invisible{
    display: none;
}
.ellipsis{
    
}









.u-url{
    /*color: #2b90d9;*/
}

body{
    /*background: #202027;
    color: #ffffff;
    font-size: 0.8em;*/
    color: #ffffff;
    font-family: "mastodon-font-sans-serif",sans-serif;
    background: #17191f;
    margin: 0px;
}

a{
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

a:hover, a:focus {
    background-size: 100% 2px;
}

hr{
    margin: 2px;
}

#div_centro{
    width: 100%;
}

#div_encabezado{
    position: fixed; /*El div será ubicado con relación a la pantalla*/
    left:0px; /*A la derecha deje un espacio de 0px*/
    right:0px; /*A la izquierda deje un espacio de 0px*/
    top:0px; /*Abajo deje un espacio de 0px*/
    z-index:2;
    background: #282c37;
}

#div_img_escribir_toot{
    display: none;
    position: fixed; /*El div será ubicado con relación a la pantalla*/
    /*left:0px; A la derecha deje un espacio de 0px*/
    right:5px; /*A la izquierda deje un espacio de 0px*/
    bottom:50px; /*Abajo deje un espacio de 0px*/
    z-index:4;
}

#div_emojins{
    /*display: none;*/
    /*background: #ffffff;*/
    /*overflow-y:scroll;*/
    overflow: auto;
    height: 130px;
    width: 100%;
}

.div_encabezado{
    background: #1E1000; /* #1E1E2A */
    font-weight: bold;
    font-size: 1.5em;
    width: 100%;
}

.centrarH{
    text-align: center;
}

#div_pie_pagina{
    position: fixed; /*El div será ubicado con relación a la pantalla*/
    left:0px; /*A la derecha deje un espacio de 0px*/
    right:0px; /*A la izquierda deje un espacio de 0px*/
    bottom:0px; /*Abajo deje un espacio de 0px*/
    /*height:10%; 
    min-height:30px;*/
    z-index:2;
    background: #1E1E2A;
    text-align: center;
}

#div_adjuntos_ampliar{
    position: fixed;
    display: none;
    background: #000000;
    z-index:10;
    left:0px; 
    right:0px; 
    bottom:0px;
}

.div_pie_pagina{
    /*height:10%;
    min-height:32px;*/
    z-index:0;
    background: #1E1E2A;
}

.rt{
    color: #ffffff;
    font-weight: bold;
}

.rt_si{
    color: #ffff00;
    font-weight: bold;
}

.fav{
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2em;
}

.fav_si{
    color: #ffff00;
    font-weight: bold;
    font-size: 1.2em;
}

.div_tabla_toot{
    display: table;
    width: 100%;
    background: #282c37; /* #2E2E3A */
}










/******************************************************************************/
/*                                                                            */
/*                                                                            */
/*                                                                            */
/******************************************************************************/
.article_tabla_toot{
    display: table;
    width: 100%;
    background: #282c37;
}

.div_tabla_toot_fila{
    display: table-row;
}

.div_tabla_toot_avatar_rt_fav{
    display: table-cell;
    width: 20%;
    color: #dfdfdf;
    font-size: 2em; /*2em*/
    font-style: italic;
    text-align: right;
    vertical-align: middle;
    /*min-width: 70px;*/
    /*background:#CC0000;*/
}

.img_tabla_toot_avatar_quien_rt_fav{
    width: 50%;
}

.div_tabla_toot_contenido_rt_fav{
    display: table-cell;
    width: 80%;
    color: #dfdfdf;
    font-style: italic;
    /*background:#00CC00;*/
    overflow-wrap: break-word;
    vertical-align: top;
}

.div_tabla_toot_avatar{
    display: table-cell;
    width: 20%;
}

.div_tabla_toot_contenido{
    display: table-cell;
    width: 80%;
    overflow-wrap: break-word;
    vertical-align: top;
}

.div_tabla_toot_contenido_nombre{
    width: 100%;
    overflow-wrap: break-word;
    float: top;
}

.div_tabla_toot_contenido_texto{
    width: 100%;
    height: 100%;
    overflow-wrap: break-word;
}

.img_tabla_toot_avatar{
    width: 100%;
}

.emojin_nick{
    height: 20px;
}

.emojin_contenido{
    height: 20px;
}
/******************************************************************************/













.div_tabla_toot_avatar_rt{
    display: table-cell;
    width: 20%;
    color: #dfdfdf;
    font-size: 2em; /*2em*/
    font-style: italic;
    text-align: right;
    vertical-align: middle;
    /*min-width: 70px;*/
    /*background:#CC0000;*/
}

.div_tabla_toot_avatar_notificaciones_fav{
    display: table-cell;
    width: 20%;
    font-size: 2em;
    font-style: italic;
    text-align: right;
    vertical-align: middle;
    color: #ffff00;
}



.div_tabla_toot_contenido_rt{
    display: table-cell;
    width: 80%;
    color: #dfdfdf;
    font-style: italic;
    /*background:#00CC00;*/
    overflow-wrap: break-word;
    vertical-align: top;
}



.div_tabla_toot_contenido_pie{
    width: 100%;
    text-align: center;
    float: bottom;
    font-size: 1.5em;
}




.img_tabla_toot_avatar_follow{
    width: 50px;
    float: left;
}

.img_tabla_toot_avatar_quien_rt{
    width: 50%;
}

.div_tabla_toot_contenido_media_attachments{
    position: relative;
}

.div_tabla_toot_contenido_media_attachments_ocultar{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index:1;
    color: #ffffff;
    background: #000000;
    opacity: 1;
    text-align: center;
}

.form_tootEsc_textarea{
    /*resize: none;*/
    width: 100%;
    /*font-size: 1em;*/
    /*height: 100%;*/
}

.rt_fav_not{
    color: #5b5f6b;
}

.card{
    border: 5px solid;
    border-radius: 15px;
    border-color: #9baec8;
    margin:5px;
    background-color:#9baec8;
    word-wrap:break-word; 
}

.card_image{
    width: 100%;
}

.card_title{
    color: #d9e1e8;
    font-weight: bold;
}

.card_description{
    color: #282c37;
    font-weight: normal;
}

.div_pagina{
    width: 100%;
}





#enlace {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

#editable{
     designMode:"On";
     contentEditable :'true'; 
}
/*
.div_tabla_toot_contenido_media_attachments_img{
    clip: rect(0px, 0px, 100px, 100px);
}*/





/* !FOCUSED IMAGES */
/*-----------------------------------------*/
/*    https://github.com/jonom/jquery-focuspoint   */
.focuspoint {
    position: relative; /*Any position but static should work*/
    overflow: hidden;
    width: 100%;
    height: 150px;
}
.focuspoint img {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    display: block;
    /* fill and maintain aspect ratio */
    width: auto; height: auto;
    min-width: 100%; min-height: 100%;
    max-height: none; max-width: none;
}

.focuspoint_video{
    position: relative; /*Any position but static should work*/
    overflow: hidden;
    width: 100%;
    height: 150px;
}

.derecha{
    float: right;
    width: 50%;
}

.izquierda{
    float: left;
    width: 50%;
}
